/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background: #fffef8;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 184px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > a {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
  margin-top: 7px;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

h3 {
  font-size: 26px;
  padding-top: 10px;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 16px;
  gap: 20px;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
  text-decoration: none;
}

nav img {
  width: 20px;
}

a {
  text-decoration: none;
  color: black;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
  margin: 75px 19%;
}
#introduction figure {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
#introduction img {
  display: block;
  width: 100%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 0.7em;
  width: 85%;
  margin-left: 65px;
}

#introduction p {
  margin-bottom: 1em;
  width: 88%;
  margin-left: 65px;
}

#portfolio {
  margin: 47px 19%;
}

#portfolio h2 {
  text-align: center;
}

.container-admin {
  display: flex;
  background-color: black;
  width: 100%;
}
.admin-mode {
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  width: 100%;
  height: 59px;
}

.edit-mode {
  display: none;
  color: white;
  margin-right: 10px;
}

.edit-projet {
  display: none;
  color: black;
  margin-left: 30px;
  margin-right: 10px;
}

.logout {
  display: none;
}

.filters {
  display: flex;
  justify-content: center;
  margin: 45px 0;
}

.button_filters {
  border-radius: 60px;
  border: 1px solid #1d6154;
  background-color: #fffef8;
  color: #1d6154;
  padding: 7px 17px;
  font-size: 16px;
  margin-inline: 5px;
  font-weight: 700;
  font-family: "Syne";
}

.click_color {
  background-color: #1d6154;
  color: white;
}

.title-modifier {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-modifier a {
  display: none;
}

.modale {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  z-index: 100;
}

.fond-modale {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.box-modale {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 30%;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  z-index: 101;
}

.ajout-modale {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 30%;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
}

.ajout-photo {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.fa-arrow-left {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 20px;
}
.close-modale {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
}

.gallery-modale {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 26px;
  width: 90%;
  justify-content: center;
  padding: 45px 0;
  border-bottom: solid 1px #b3b3;
  z-index: 3;
}
.gallery-modale img {
  width: 100%;
}

.gallery-modale article {
  position: relative;
}

.bin {
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;
  background: black;
  padding: 5px;
  border-radius: 4px;
  font-size: 10px;
}

.btn-modale {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  border: 2px solid #1d6154;
  margin: 3em auto 0;
  width: 237px;
  text-align: center;
  border-radius: 60px;
  padding: 8px;
}
.btn-submit {
  font-family: "Syne";
  background-color: #a7a7a7;
  border: 2px solid #a7a7a7;
  font-weight: 700;
  color: white;
  margin: 2.5em auto 0;
  width: 237px;
  text-align: center;
  border-radius: 60px;
  padding: 8px;
}

.btn-ajout-photo {
  z-index: 0;
  position: relative;
  background-color: #cbd6dc;
  border: #cbd6dc;
  border-radius: 50px;
  color: #306685;
  font-size: 14px;
  padding: 10px 40px;
}

.container-input-fichier {
  background: #e8f1f6;
  display: flex;
  padding: 20px;
  margin-top: 30px;
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.container-input-fichier span {
  color: #444444;
  font-size: 10px;
}

.container-input-fichier i {
  font-size: 70px;
  color: #cbd6dc;
  filter: brightness(0.9);
}

.input-fichier {
  z-index: 1;
  position: absolute;
  opacity: 0;
}

.input-modale {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 30px;
}

.border-bottom {
  border-bottom: solid 1px #b3b3;
  padding-bottom: 45px;
}

.select-option,
#titre {
  padding: 15px;
  border: none;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 25%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 14px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact a {
  text-align: center;
  color: black;
  font-weight: 500;
  text-decoration: underline;
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 3em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
  height: 60px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
